* {
  padding: 0px;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --main-bg: #292944;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg);
  overflow: hidden;
}

img {
  height: 100%;
}

article {
  height: 100vh;
  display: inline-block;
}