* {
  padding: 0px;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

:root {
  --main-bg: #292944;
  --next-color: rgba(240, 240, 240, .6)
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg);
  overflow: auto;
}

section {
  display: block;
  position: relative;
  height: 100vh;
}

figure {
  position: absolute;
  bottom: 0;
  width: 100%;
}

img {
  width: 100%;
  -webkit-box-reflect: above -1px linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, .8));
}

.next {
  position: absolute;
  display: inline-block;
  padding-top: 10px;
  font-size: 48px;
  width: 100%;
  height: 80px;
  color: var(--next-color);
  bottom: 0px;
  z-index: 1;
  text-align: center;
}

.next::after {
  content: "▼";

}